.App {
  text-align: center;
}
#book{
  position: absolute;
  top: 70px;
}
table{
  border-collapse: collapse;
}
#book tbody tr:nth-child(odd){
  background-color: wheat;
}
#book tbody td{
  padding: 15px 5px;
}
.MuiFormLabel-root.Mui-focused{
  color: rgba(0, 0, 0, 0.54);
}